<br>
<br>
<br>

<div class="col-md-12">

          <section class="ib-container" id="ib-container">

        	<article>
        		<header>
        			<h3><a href="#">LITE</a></h3>
        			<span>$46.99 / Month</span>
        		</header>

            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Web Design <p>1 Page</p></td>
                </tr>
                <tr>
                  <td>Maintenance <p>3 Months</p></td>
                </tr>
                <tr>
                  <td>CMS BLOG <p>WordPress</p></td>
                </tr>
                <tr>
                  <td>Mobile Optimization<p>Included</p></td>
                </tr>
                <tr>
                  <td>Security<p>Included</p></td>
                </tr>
                <tr>
                  <td>Multilingual<p>2 Languages</p></td>
                </tr>
                <tr>
                  <td>Web Traffic Analysis<p>Included</p></td>
                </tr>
              </tbody>
            </table>

        	</article>

        	<article>
        		<header>
        			<h2><a href="#">STANDARD</a></h2>
        			<span>$128.99 / Month</span>
        		</header>

            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Web Design <p>3 Pages</p></td>
                </tr>
                <tr>
                  <td>Maintenance <p>6 Months</p></td>
                </tr>
                <tr>
                  <td>CMS BLOG <p>WordPress</p></td>
                </tr>
                <tr>
                  <td>Mobile Optimization<p>Included</p></td>
                </tr>
                <tr>
                  <td>Security<p>Included</p></td>
                </tr>
                <tr>
                  <td>Multilingual<p>2 Languages</p></td>
                </tr>
                <tr>
                  <td>Web Traffic Analysis<p>Included</p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article>
        		<header>
        			<h3><a href="#">ADVANCED</a></h3>
        			<span>$217.99 / Month</span>
        		</header>

            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Web Design <p>5 Pages</p></td>
                </tr>
                <tr>
                  <td>Maintenance <p>12 Months</p></td>
                </tr>
                <tr>
                  <td>CMS BLOG <p>WordPress</p></td>
                </tr>
                <tr>
                  <td>Mobile Optimization<p>Included</p></td>
                </tr>
                <tr>
                  <td>Security<p>Included</p></td>
                </tr>
                <tr>
                  <td>Multilingual<p>2 Languages</p></td>
                </tr>
                <tr>
                  <td>Web Traffic Analysis<p>Included</p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article>
        		<header>
        			<h3><a href="#">PRO</a></h3>
        			<span>$295.99 / Month</span>
        		</header>

            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Web Design <p>10 Pages</p></td>
                </tr>
                <tr>
                  <td>Maintenance <p>12 Months</p></td>
                </tr>
                <tr>
                  <td>CMS BLOG <p>WordPress</p></td>
                </tr>
                <tr>
                  <td>Mobile Optimization<p>Included</p></td>
                </tr>
                <tr>
                  <td>Security<p>Included</p></td>
                </tr>
                <tr>
                  <td>Multilingual<p>2 Languages</p></td>
                </tr>
                <tr>
                  <td>Web Traffic Analysis<p>Included</p></td>
                </tr>
              </tbody>
            </table>


        	</article>

          <article>
        		<header>
        			<h3><a href="#">ELITE</a></h3>
        			<span>$495.99 / Month</span>
        		</header>

            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Web Design <p>20 Pages</p></td>
                </tr>
                <tr>
                  <td>Maintenance <p>12 Months</p></td>
                </tr>
                <tr>
                  <td>CMS BLOG <p>WordPress</p></td>
                </tr>
                <tr>
                  <td>Mobile Optimization<p>Included</p></td>
                </tr>
                <tr>
                  <td>Security<p>Included</p></td>
                </tr>
                <tr>
                  <td>Multilingual<p>2 Languages</p></td>
                </tr>
                <tr>
                  <td>Web Traffic Analysis<p>Included</p></td>
                </tr>
              </tbody>
            </table>

        	</article>

        </section>


</div>
