<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <center>
      <h1 style="text-shadow: 2px 2px black;">Other Services</h1>
    </center>


    <br>
    <div class="col-md-12 market">

      <div class="col-md-3">
        <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"><span class="titletext">Logo Design</span></i>

      </div>

      <div class="col-md-3">
        <i class="fa fa-camera fa-2x" aria-hidden="true"><span class="titletext">Photos</span></i>

      </div>

      <div class="col-md-3">
        <i class="fa fa-id-card-o fa-2x" aria-hidden="true"><span class="titletext">Business Card</span></i>

      </div>

      <div class="col-md-3">
        <i class="fa fa-paint-brush fa-2x" aria-hidden="true"><span class="titletext">Custom Designs</span></i>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div class="col-md-12 col-md-6">
      <div class="mast">
        <div class="mast__header">
          <h1 style="text-decoration: underline; color: palegoldenrod;" class="mast__title js-spanize">Nothing speaks more than a quality design with decent services.</h1>
          <hr class="sep"/>
          <p class="mast__text js-spanize">
            We know how important it is to have the right Logo and Designs to achieve the best marketing outcome for your business</p>
          <p class="mast__text js-spanize"> and that is why Noctiflow will make that happen for you.</p>
          <p class="mast__text js-spanize">Please contact us for further information regarding the services mentioned above.</p> <p class="mast__text js-spanize">Noctiflow will be glad to offer you with a free quote to assist you further.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>



  </div>
</div>
