<br><br>
<div class="container-fluid">
  <div class="row">
    <center>
      <div class="splashtext3">Our services</div>
    </center>


    <br>
    <div class="col-md-12 market">

      <div class="col-md-3 flex">
        <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"><span class="titletext">Logo Design</span>
          <p class="ptext">Haven't figured out the perfect logo for your business yet? Don't worry, our design team will assist you in creating a professional, eye-catching logo.</p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-camera fa-2x" aria-hidden="true"><span class="titletext">Photos</span>
          <p class="ptext">If you do not have photos for your business, we'll take care of it! Our designers will handle any photo editing to ensure they look stunning.</p>
        </i>
      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-id-card-o fa-2x" aria-hidden="true"><span class="titletext">Business Card</span>
          <p class="ptext">Got your logo? then you are definitely ready for a custom business card that will make your business stand out!</p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-paint-brush fa-2x" aria-hidden="true"><span class="titletext">Custom Designs</span>
          <p class="ptext">Just like dresses and suits, we will have your designs custom tailored to fit perfectly for you.</p>
        </i>
      </div>
    </div>


    <div class="col-md-12 col-md-6">
      <div class="mast">
        <div class="mast__header">
          <h1 class="mast__title js-spanize">Nothing speaks louder than quality design with genuine services.</h1>
          <hr class="sep"/>
          <p class="mast__text js-spanize">
            We know how important it is to have the right Logo and Designs to achieve the best marketing outcome for your business</p>
          <p class="mast__text js-spanize"> and that is why Noctiflow will make that happen for you.</p>
          <p class="mast__text js-spanize">Please contact us for further information regarding the services mentioned above.</p> <p class="mast__text js-spanize">Noctiflow will be glad to offer you with a free quote to assist you further.</p>
          <br>
          <br>
          <h1 class="mast__text js-spanize">-Team Noctiflow</h1>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>



  </div>
</div>
