<div style="width:100vw;height:100vh;overflow: hidden;">
  <%= image_tag 'pexels-photo-261628.jpg', class:'splashbg2' %>
  <div style="position:absolute;top:7vw;width:100%;text-align: center">

  <div>
    <% flash.each do |key, value| %>
        <div>
          <a href="contacts#new" data-dismiss="alert"></a>
          <div class="splashtext">
            <%= value %>
          </div>
        </div>
    <% end %>
  </div>
  </div>
</div>