<br>
<br>
  <div class="container">
          <div class="row">
              <div class="heading-title text-center splashtext3">
                Team Noctiflow
              </div>

              <div class="col-md-2">
              </div>

              <div class="col-md-4 col-sm-12">
                  <div class="team-member center-block">
                      <div class="team-img">
                          <img src="<%= asset_path( 'team/jeff.jpg' ) %>" alt="team member" class="img-responsive">
                      </div>
                      <div class="team-hover">
                          <div class="desk">
                              <h4>Hi There !</h4>
                              <p>I love to introduce myself as a hardcore Web Designer.</p>
                          </div>
                          <div class="s-link">
                              <a href="mailto:jeff@noctiflow.com?Subject=Hi Jeff!"><i class="fa fa-envelope-o faa-pulse animated-hover"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-title">
                      <h5>Jeffrey MacDonald</h5>
                      <span>Co-Founder &amp; Developer</span>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="team-member center-block">
                      <div class="team-img">
                          <img src="<%= asset_path( 'team/richard.jpg' ) %>" alt="team member" class="img-responsive">
                      </div>
                      <div class="team-hover">
                          <div class="desk">
                              <h4>Hi! 你好!</h4>
                              <p>Coding = Coffee Right?</p>
                          </div>
                          <div class="s-link">
                            <a href="mailto:richard@noctiflow.com?Subject=Hi Richard!"><i class="fa fa-envelope-o faa-pulse animated-hover"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-title">
                      <h5>Richard Wang</h5>
                      <span>Co-Founder &amp; Developer</span>
                  </div>
              </div>

              <div class="col-md-2">
              </div>

          </div>

      </div>
