
<div style="width:100vw;height:100vh;overflow: hidden;">
  <%= image_tag 'pexels-photo-261628.jpeg', class:'splashbg2' %>
  <div style="position:absolute;top:7vw;width:100%;">
    <div class="disp" style="background-color:rgba(100, 90, 108, 0.62);width:60vw;border-radius: 20px;overflow: scroll;padding-bottom: 25px;">
      <div class="splashtext2">
        Get in touch with us today!
      </div>

      <div class="ptext">
        Fill out the form below to inquire about our services or leave feedback.
      </div>

      <div class="container-fluid">
        <form>

          <div class="form-group">
            <label for="name" class="ptext2">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="">
          </div>

          <div class="form-group">
            <label for="email" class="ptext2">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="">
          </div>

          <div class="form-group">
            <label for="phone" class="ptext2">Phone</label>
            <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleTextarea" class="ptext2">Comment</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary pull-right">Submit</button>

        </form>
        <small id="emailHelp" class="form-text" style="color:#aaa;font-style:italic;font-size:.7em;text-shadow: 1px 1px 4px #000">We'll never share your personal information with anyone else.</small>
      </div>

    </div>
  </div>
</div>

