<div style="width:100vw;height:100vw;overflow: hidden;">
  <%= image_tag 'pexels-photo-261628.jpeg', class:'splashbg2' %>
  <div style="position:absolute;top:5vw;width:100%;">
    <div class="disp" style="background-color:rgba(90, 80, 108, 0.62);width:60vw;height:80vh;border-radius: 20px;">
      <div class="splashtext2">Get in touch with us today!</div>
    </div>
  </div>
</div>