/*
 * This is f manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "blur/*";
//@import "blur/style.css";
@import "portfolio.scss";
@import "team.scss";
@import "font-awesome-animation.min.scss";

$mobile-width: 529px;
$tablet-width: 949px;
$desktop-width: 1128px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktopxl {
  @media (min-width: #{$desktop-width}){
    @content;
  }
}

* {
  color: #eee;
  font-weight: 200;
  letter-spacing:2px;
  @include mobile{
    font-size:12px;
  }
  font-size:12px;
}

body {
  background: image_url('footer_lodyas.png');
  color: #222;
  background-color: black;
}

a {
  color:#eee;
  font-weight: 400;
  &:hover{
    color: #d1c092;
    text-decoration: none;
    background-color: rgba(0,0,0,0) !important; //bootstrap override
  }
}

textarea,input,button{
  box-shadow: 1px 1px 8px rgba(0,0,0,0.5) !important;
}

textarea {
  resize: none;
}
label {
  padding:0 !important;
}

.splashtext{
  padding:20px 180px 20px 180px;
}
.splashtext2{
  padding:20px 10px 5px 10px;
}

.splashtext,.splashtext2,.wrap{
  @include mobile{
    font-size:.8em;
    display: none;
  }
  @include tablet{
    font-size:1.2em;
  }
  @include desktop{
    font-size:2em;
  }
  @include desktopxl{
    font-size:2.2em;
  }
  color:#fff;
  font-weight: 400;
  border-radius: 7px;
  font-family: 'Helvetica Neue';
  text-align: center;
  text-shadow: 1px 1px 8px #000;
}

.ptext{
  @include mobile{
    padding-bottom: 15px;
  }
  @include tablet{
    padding-bottom: 20px;
  }
  padding:5px 30px 30px 30px;
}
.ptext2{
  padding:0px 0px 0px 0px;
}

.ptext,.ptext2{
  @include mobile{
    padding-top:20px;
    font-size:.9em;
    //display: none;
  }
  @include tablet{
    font-size:.8em;
  }
  @include desktop{
    font-size:1.1em;
  }
  @include desktopxl{
    font-size:1.2em;
  }
  color:#fff;font-weight: 200;border-radius: 7px;font-family: 'Helvetica Neue'; text-align: center;text-shadow: 1px 1px 8px #000;
}

.disp{
  @include mobile{
    width:50%;
  }
  max-height:80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.disptext{
  @include mobile{
    width:50%;
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.splashbg{
  width:100%;
  height:100vh;
  filter: brightness(70%) blur(3px) contrast(90%);
}
.splashbg2{
  max-height:100vh;
  min-width:100vw;
  filter: brightness(80%) blur(3px) contrast(90%);
}
.pop{
  box-shadow: #222222 4px 4px 4px;
  border: #222 thin solid;
}
.hidden{
  display:none;
}
.hell{
  background-color: lightcoral;
}
.heaven{
  background-color: mediumseagreen;
}
.ib-container {
  @include tablet{
    flex-wrap:wrap;
  }
  @include mobile{
    flex-wrap:wrap;
  }
}
.footericons{
  width:25px;
  margin: 0px 3px 0px 3px;
}
div {
  //border: thin lime solid;
}

// NAVBAR CSS==============================================

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;

}

.navbar.scrolled {
    background: rgb(0, 0, 0); /* IE */
    background: rgba(0, 0, 0, 0.6); /* NON-IE */
}

a {
  color: white;
  text-shadow: 1px 1px 3px #111;
}

// FOOTER CSS ==============================================

.footer,.footer2 {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}

// Typewriter Effect CSS ===================================
