.pricetext{
  font-size: 15px !important;
}

.pricetitle{
  color: purple !important;
}

.containerbg{
  background-color: rgba(0,0,0,0.4) !important;
  height: 100%;
}

.containerbg2{
  width: 185px;
}

.containerbg3{
  width: 500px;
}

.differentTable, .differentTable td{
   border-color: palegoldenrod;
}
