.pricetext{
  // color: purple !important;
  // font-weight: bold;
  font-size: 15px !important;
}

.pricetitle{
  color: purple !important;
}

.containerbg{
  background-color: rgba(0,0,0,0.4) !important;
}

.differentTable, .differentTable td{
   border-color: palegoldenrod;
}
